<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="blog.zero.com.androidlayout_yg">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitylayout.RelativeLayoutActivity"></activity>
        <activity android:name=".activitylayout.TableLayoutActivity" />
        <activity android:name=".activitylayout.LayoutMainActivity" /> <!-- 单例模式 -->
        <activity
            android:name=".launchmode.ActivitySingleInstance"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="blog.zero.com.androidlayout_yg.singleinstance" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".launchmode.OtherTaskActivity" /> <!-- 栈内复用 -->
        <activity
            android:name=".launchmode.ActivitySingleTask"
            android:launchMode="singleTask" />
        <activity android:name=".launchmode.OtherTopActivity" /> <!-- 栈顶复用 -->
        <activity
            android:name=".launchmode.ActivitySingleTop"
            android:launchMode="singleTop" /> <!-- 标准模式 -->
        <activity android:name=".launchmode.ActivityStandard" />
        <activity android:name=".launchmode.BaseActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="blog.zero.com.androidlayout_yg" />
            </intent-filter>
        </service>
    </application>

</manifest>