<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.permission">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SwordDemoLibrary">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".TestActivity"/>
        
        <activity android:name=".DataAccessRationaleActivity"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:exported="true">
            
            <intent-filter>
                <!--VIEW_PERMISSION_USAGE 用于配置应用在系统设置的应用程序权限页面显示的应用图标-->
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE"/>
                <!--VIEW_PERMISSION_USAGE_FOR_PERIOD 用于配置当前应用在 Privacy Dashboard（隐私仪表盘）页面显示的应用图标 -->
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE_FOR_PERIOD"/>
                <action android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>